<!DOCTYPE html>
<html>
<head>
    <style type="text/css" media="screen">
        body {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-decoration-color: white;
            font-size: 16px;
            padding: 15px;
        }
        .label {
            text-align: left;
            width: 100%;
            display: inline-block;
        }
        .text_body {
            padding-left: 20px;
        }
        .verify {
            width: 100%;
            justify-content: center;
            margin-bottom: 25px;
        }
        .verifyButton {
            text-decoration: none;
            padding: 10px;
            background-color: #4e4ebd;
            text-align: center;
            color: #fff !important;
            width: 75px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    
   
    <p style="padding-left: 25px; padding-top: 10px;">
     
        <p>Name : <span style="padding-left: 10px;"><%=name%></span></p>
        <p>Contact Number : <span style="padding-left: 10px;"><%=phone%></span></p>        
        <p>Email : <span style="padding-left: 10px;"><%=email%></span></p>
        <p>City : <span style="padding-left: 10px;"><%=city%></span></p>
        <p>Vendor : <span style="padding-left: 10px;"><%=vendor%></span></p>
    </p>
</body>
</html>
